<!DOCTYPE html>
<html lang="en">
<head>
    <title>Thank you for your purchase!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <style>
        body {
            margin: 0;
        }

        a, a:hover {
            text-decoration: none;
        }

        @media (max-width: 600px) {
            .container {
                width: 94% !important;
            }

            .main-action-cell {
                float: none !important;
                margin-right: 0 !important;
            }

            .secondary-action-cell {
                text-align: center;
                width: 100%;
            }

            .header {
                margin-top: 20px !important;
                margin-bottom: 2px !important;
            }

            .shop-name__cell {
                display: block;
            }

            .order-number__cell {
                display: block;
                text-align: left !important;
                margin-top: 20px;
            }

            .button {
                width: 100%;
            }

            .or {
                margin-right: 0 !important;
            }

            .apple-wallet-button {
                text-align: center;
            }

            .customer-info__item {
                display: block;
                width: 100% !important;
            }

            .spacer {
                display: none;
            }

            .subtotal-spacer {
                display: none;
            }
        }
    </style>
</head>
<body style="margin: 0;">
    <table style="border-spacing: 0 !important; border-collapse: collapse !important; width: 100% !important;height: 100% !important;">
        <tr>
            <td style="font-family: arial, -apple-system !important; font-size: 0.875rem !important; background: #e0e0e0 !important;" align="center" valign="center">
                <table class="body" style="width: 100% !important; width: 600px !important; border-spacing: 0; border-collapse: collapse;">
                    <tr>
                        <td style="background: #f7f8fc !important; height: 80px !important" align="center" valign="center">
                            <img src="https://gossby.com/storage/setting/10.JMLDV5d98c1cba510b.png" alt="" style="display:block;border:0;outline:none;height:auto;max-height:60px" data-index="0"/>
                        </td>
                    </tr>
                    <tr>
                        <td style="background: #fff !important;" align="center" valign="center">
                            <div style="padding: 30px !important;">
                                <table style="margin-bottom: 15px !important;border-spacing: 0 !important; border-collapse: collapse !important; width: 100% !important;">
                                    <tr>
                                        <td>
                                            <div style="font-family: arial, -apple-system !important; font-size: 1.565rem !important; color: #282364 !important; line-height: 1 !important; margin: 0 !important; padding: 0 !important; text-align: center !important;">Thank You!</div>
                                            <div style="margin-top: 30px !important; line-height: 1rem !important; color: #282364 !important;text-align: center !important">
                                                <p style="margin: 0 !important; margin-bottom: 10px !important;">Hi <strong>Huydzo</strong></p>
                                                <p style="margin: 0 !important; margin-bottom: 10px !important;line-height: 1.2rem">To say thanks for shopping with us,<br />here's a <span style="color: #1688FA !important; font-weight: bold !important;">10 OFF</span> your next purchase</p>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                                <table style="border-spacing: 0 !important; border-collapse: collapse !important; width: 100% !important;">
                                    <tr>
                                        <td style="padding: 20px !important; text-align: center !important; background-image: url('https://gossby.com/resource/template/core/image/catalog/email_template/discount_code_bg.png') !important; background-repeat: no-repeat !important; background-position: center center !important; background-size: cover !important; border-radius: 10px !important;">
                                            <div style="font-family: arial, -apple-system !important; font-size: 0.875rem !important; line-height: 1rem !important;font-size: 1rem !important; line-height: 1.1875rem !important; color: #fff !important;">Discount</div>
                                            <div style="font-family: arial, -apple-system !important; font-size: 0.875rem !important; line-height: 1rem !important;font-size: 3.125rem !important; line-height: 3.8125rem !important; color: #fff !important;">10% OFF</div>
                                            <div style="font-family: arial, -apple-system !important; font-size: 0.875rem !important; line-height: 1rem !important;font-size: 1.25rem !important; line-height: 1.5rem !important; padding: 8px !important; color: #fff !important; border: 1px dashed !important; border-radius: 20px !important; max-width: 300px !important; margin: auto !important;">
                                                <strong>O1AY-V7EL-EQH0</strong>
                                            </div>
                                            <div style="font-family: arial, -apple-system !important; font-size: 0.875rem !important; line-height: 1rem !important;line-height: 1.0625rem !important; color: #fff !important; margin-top: 14px !important;">Expires on: September 24, 2019, 12:20 PM</div>
                                        </td>
                                    </tr>
                                </table>
                                <table style="border-spacing: 0 !important; border-collapse: collapse !important; width: 100% !important;max-width: 200px !important; margin-top: 30px !important; margin-bottom: 30px !important">
                                    <tr>
                                        <td align="center" valign="center">
                                            <table class="button main-action-cell" style="border-spacing: 0 !important; border-collapse: collapse !important; width: 100% !important;">
                                                <tr>
                                                    <td style="cursor: pointer !important; border-radius: 4px !important; background: #1688FA !important;" align="center">
                                                        <a href="#" style="cursor: pointer !important; font-size: 0.875rem !important; line-height: 0.875rem !important; display: block !important; color: #fff !important; padding: 12px 30px !important;">Continue Shopping</a>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                                <table style="border-spacing: 0 !important; border-collapse: collapse !important; width: 100% !important;border-top-width: 1px !important; border-top-color: #E0E0E0 !important; border-top-style: dashed !important;">
                                    <tbody>
                                        <tr>
                                            <td style="padding: 22px 0 !important">
                                                <div style="color: #282364 !important; font-size: 1rem !important; margin-bottom: 10px !important;">
                                                    <strong>Your
                                                        Receipt</strong></div>
                                                <div style="color: #72849C !important; margin-bottom: 10px !important;">
                                                    <div style="margin-bottom: 5px !important;">Order
                                                        code: #FT9
                                                    </div>
                                                    <div style="margin-bottom: 5px !important;">
                                                        Added date: September 09, 2019, 12:20 PM
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table style="border-spacing: 0 !important; border-collapse: collapse !important; width: 100% !important;border: 1px solid #F2F2F2 !important; margin-bottom: 30px !important;">
                                    <tbody>
                                        <tr>
                                            <td style="padding: 20px !important">
                                                <table style="border-spacing: 0 !important; border-collapse: collapse !important; width: 100% !important;">
                                                    <tbody><tr>
                                                        <td style="width: 30% !important">
                                                            <img src="https://gossby.com/var/opt_images/a92b3be5ee946a896b02cbc66e75c271.500x500.0.1587026996.jpg" style="display: block !important; width: 100% !important">
                                                        </td>
                                                        <td style="padding-left: 20px !important" valign="top">
                                                            <div style="margin-bottom: 10px !important; font-family: arial, -apple-system !important; font-size: 0.875rem !important; line-height: 1.075rem !important; color: #282364 !important; font-weight: bold !important;">
                                                                Personalized Mug - Best Friend, You are my person, You will
                                                                always ...
                                                            </div>
                                                            <div style="margin-top: 3px !important; font-family: arial, -apple-system !important; font-size: 0.875rem !important; line-height: 1.075rem !important; color: #72849C !important;">
                                                                Size: M • Color: While
                                                            </div>
                                                            <div style="margin-top: 3px !important; font-family: arial, -apple-system !important; font-size: 0.875rem !important; line-height: 1.075rem !important; color: #72849C !important;">
                                                                SKU: 2323
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    </tbody></table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="background: #F6F6F9 !important; padding: 20px !important" align="right">
                                                1pcs &nbsp; x &nbsp; <strong>$16.00 USD</strong>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table style="border-spacing: 0 !important; border-collapse: collapse !important; width: 100% !important;background: #F6F6F9 !important;">
                                    <tbody>
                                        <tr>
                                            <td style="padding: 20px !important">
                                                <table style="border-spacing: 0 !important; border-collapse: collapse !important; width: 100% !important;background: #F6F6F9 !important;">
                                                    <tbody><tr>
                                                        <td colspan="2" style="font-family: arial, -apple-system !important; font-size: 1.25rem !important; padding-bottom: 20px !important; color: #282364 !important;">
                                                            Customer information
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width: 50% !important; padding-right: 10px !important; padding-bottom: 20px !important;">
                                                            <div style="font-family: arial, -apple-system !important; font-size: 0.875rem !important; line-height: 1.075rem !important; color: #282364 !important;">
                                                                Contact information:
                                                            </div>
                                                            <div style="color: #72849C !important; font-family: arial, -apple-system !important; font-size: 0.875rem !important; line-height: 1.075rem !important; margin-top: 10px !important;">
                                                                <a href="mailto:tho8686dota@gmail.com" style="color: #2f80ed !important;text-decoration: underline !important;">tho8686dota@gmail.com</a>
                                                            </div>
                                                        </td>
                                                        <td style="width: 50% !important; padding-left: 10px !important; padding-bottom: 20px !important;">
                                                            <div style="font-family: arial, -apple-system !important; font-size: 0.875rem !important; line-height: 1.075rem !important; color: #282364 !important;">
                                                                Payment method:
                                                            </div>
                                                            <div style="color: #72849C !important; font-family: arial, -apple-system !important; font-size: 0.875rem !important; line-height: 1.075rem !important; margin-top: 10px !important;">
                                                                Credit Card
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width: 50% !important; padding-right: 10px !important; padding-bottom: 20px !important;">
                                                            <div style="font-family: arial, -apple-system !important; font-size: 0.875rem !important; line-height: 1.075rem !important; color: #282364 !important;">
                                                                Shipping Address:
                                                            </div>
                                                            <div style="color: #72849C !important; font-family: arial, -apple-system !important; font-size: 0.875rem !important; line-height: 1.075rem !important; margin-top: 10px !important;">
                                                                tho dep zai <br>
                                                                2100 mesa valley way <br>
                                                                Georgia <br>
                                                                Georgia 30106 <br>
                                                                Vietnam <br>
                                                                0979514086
                                                            </div>
                                                        </td>
                                                        <td style="width: 50% !important; padding-left: 10px !important; padding-bottom: 20px !important;">
                                                            <div style="font-family: arial, -apple-system !important; font-size: 0.875rem !important; line-height: 1.075rem !important; color: #282364 !important;">
                                                                Billing Address:
                                                            </div>
                                                            <div style="color: #72849C !important; font-family: arial, -apple-system !important; font-size: 0.875rem !important; line-height: 1.075rem !important; margin-top: 10px !important;">
                                                                tho dep zai <br>
                                                                2100 mesa valley way <br>
                                                                Georgia <br>
                                                                Georgia 30106 <br>
                                                                Vietnam <br>
                                                                0979514086
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width: 50% !important; padding-right: 10px !important; padding-bottom: 20px !important;">
                                                            <div style="font-family: arial, -apple-system !important; font-size: 0.875rem !important; line-height: 1.075rem !important; color: #282364 !important;">
                                                                Shipping Method:
                                                            </div>
                                                            <div style="color: #72849C !important; font-family: arial, -apple-system !important; font-size: 0.875rem !important; line-height: 1.075rem !important; margin-top: 10px !important;">
                                                                Standard Shipping with Tracking Number
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div style="padding-top: 15px !important; border-top: 1px dashed #E0E0E0 !important; text-align: left !important; margin-top: 30px !important;">
                                    <div style="font-family: arial, -apple-system !important; font-size: 0.875rem !important; line-height: 1rem !important;font-size: 1.125rem !important; line-height: 1.5rem !important; color: #282364 !important; font-weight: bold !important;">You might also like...</div>
                                    <div style="font-family: arial, -apple-system !important; font-size: 0.875rem !important; line-height: 1rem !important;line-height: 1.5rem !important; color: #282364 !important;">Check out these awesome products just waiting for you in our store.</div>
                                </div>
                                <table style="border-spacing: 0 !important; border-collapse: collapse !important; width: 100% !important;margin-top: 30px !important;">
                                    <tr>
                                        <td style="width: 48% !important; text-align: center; padding-bottom: 30px !important;" align="center" valign="top">
                                            <div style="text-align: center;">
                                                <div style="background-image: url('https://gossby.com/var/opt_images/a92b3be5ee946a896b02cbc66e75c271.500x500.0.1587026996.jpg') !important; background-repeat: no-repeat !important; background-position: center center !important; background-size: contain !important;">
                                                    <a style="outline: 0 !important; border: none !important; text-decoration: none !important; display: block !important; height: 250px;" href="#" target="_blank" rel="noopener noreferrer">&nbsp;</a>
                                                </div>
                                                <div style="margin: 10px 0 !important;">
                                                    <a style="text-decoration: none !important; color: #282364 !important; font-family: arial, -apple-system !important; font-size: 0.875rem !important; line-height: 1rem !important;" href="#" target="_blank" rel="noopener noreferrer">
                                                        Personalized Mug - Best Friend , My best friend may not be my sister by blood but she’s my...
                                                    </a>
                                                </div>
                                                <table style="border-spacing: 0 !important; border-collapse: collapse !important; width: 100% !important;max-width: 130px !important; margin: auto !important; margin-top: 10px !important;">
                                                    <tr>
                                                        <td align="center" valign="center">
                                                            <table class="button main-action-cell" style="border-spacing: 0 !important; border-collapse: collapse !important; width: 100% !important;">
                                                                <tr>
                                                                    <td style="cursor: pointer !important; border-radius: 4px !important; background: #1688FA !important;" align="center"><a href="#" style="cursor: pointer !important; font-size: 0.875rem !important; line-height: 0.875rem !important; display: block !important; color: #fff !important; padding: 12px 30px !important;white-space: nowrap">Shop Now</a></td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </td>
                                        <td style="width: 48% !important; text-align: center; padding-bottom: 30px !important;" align="center" valign="top">
                                            <div style="text-align: center;">
                                                <div style="background-image: url('https://gossby.com/var/opt_images/a92b3be5ee946a896b02cbc66e75c271.500x500.0.1587026996.jpg') !important; background-repeat: no-repeat !important; background-position: center center !important; background-size: contain !important;">
                                                    <a style="outline: 0 !important; border: none !important; text-decoration: none !important; display: block !important; height: 250px;" href="#" target="_blank" rel="noopener noreferrer">&nbsp;</a>
                                                </div>
                                                <div style="margin: 10px 0 !important;">
                                                    <a style="text-decoration: none !important; color: #282364 !important; font-family: arial, -apple-system !important; font-size: 0.875rem !important; line-height: 1rem !important;" href="#" target="_blank" rel="noopener noreferrer">
                                                        Personalized Mug - Best Friend , My best friend may not be my sister by blood but she’s my...
                                                    </a>
                                                </div>
                                                <table style="border-spacing: 0 !important; border-collapse: collapse !important; width: 100% !important;max-width: 130px !important; margin: auto !important; margin-top: 10px !important;">
                                                    <tr>
                                                        <td align="center" valign="center">
                                                            <table class="button main-action-cell" style="border-spacing: 0 !important; border-collapse: collapse !important; width: 100% !important;">
                                                                <tr>
                                                                    <td style="cursor: pointer !important; border-radius: 4px !important; background: #1688FA !important;" align="center"><a href="#" style="cursor: pointer !important; font-size: 0.875rem !important; line-height: 0.875rem !important; display: block !important; color: #fff !important; padding: 12px 30px !important;white-space: nowrap">Shop Now</a></td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                                <table style="border-spacing: 0 !important; border-collapse: collapse !important; width: 100% !important;border-top-width: 1px !important; border-top-color: #E0E0E0 !important; border-top-style: solid !important; margin-top: 30px !important">
                                    <tbody>
                                        <tr>
                                            <td style="padding: 20px 0 !important">
                                                <div style="text-align: center !important; font-size: 0.75rem !important; line-height: 1.075rem !important; color: #AEB2BF !important">
                                                    Need help? Visit <span style="color: #2f80ed !important; font-family: arial, -apple-system !important; font-size: 0.75rem !important; line-height: 1.075rem !important; text-decoration: underline !important">Support@9prints.com</span>
                                                </div>
                                                <div style="text-align: center !important; font-size: 0.75rem !important; line-height: 1.075rem !important; color: #AEB2BF !important; margin-top: 5px !important;">
                                                    You are receving this newsletter because you subscribed to our mailing list
                                                    via: 9prints.com
                                                </div>
                                                <div style="text-align: center !important; font-size: 0.75rem !important; line-height: 1.075rem !important; color: #AEB2BF !important; margin-top: 5px !important;">
                                                    <a href="#" style="text-align: center !important; font-size: 0.75rem !important; line-height: 1.075rem !important; color: #AEB2BF !important">Unsubscribe</a>
                                                    | <a href="#" style="text-align: center !important; font-size: 0.75rem !important; line-height: 1.075rem !important; color: #AEB2BF !important">Visit
                                                    FAQ</a>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>