<!DOCTYPE html>
<html lang="en">
<head>
    <title>Abandonment 1</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <style>
        body {
            margin: 0;
        }

        a, a:hover {
            text-decoration: none;
        }

        @media (max-width: 600px) {
            .container {
                width: 94% !important;
            }

            .main-action-cell {
                float: none !important;
                margin-right: 0 !important;
            }

            .secondary-action-cell {
                text-align: center;
                width: 100%;
            }

            .header {
                margin-top: 20px !important;
                margin-bottom: 2px !important;
            }

            .shop-name__cell {
                display: block;
            }

            .order-number__cell {
                display: block;
                text-align: left !important;
                margin-top: 20px;
            }

            .button {
                width: 100%;
            }

            .or {
                margin-right: 0 !important;
            }

            .apple-wallet-button {
                text-align: center;
            }

            .customer-info__item {
                display: block;
                width: 100% !important;
            }

            .spacer {
                display: none;
            }

            .subtotal-spacer {
                display: none;
            }
        }
    </style>
</head>
<body style="margin: 0;">
<table style="border-spacing: 0 !important; border-collapse: collapse !important; width: 100% !important;height: 100% !important;">
    <tr>
        <td style="font-family: arial, -apple-system !important; font-size: 0.875rem !important; background: #e0e0e0 !important;"
            align="center" valign="center">
            <table class="body"
                   style="width: 100% !important; width: 600px !important; border-spacing: 0; border-collapse: collapse;">
                <tr>
                    <td style="background: #f7f8fc !important; height: 80px !important" align="center" valign="center">
                        <img src="https://gossby.com/storage/setting/10.JMLDV5d98c1cba510b.png" alt=""
                             style="display:block;border:0;outline:none;height:auto;max-height:60px" data-index="0"/>
                    </td>
                </tr>
                <tr>
                    <td style="background: #fff !important;" align="center" valign="center">
                        <div style="padding: 30px !important;">
                            <table style="margin-bottom: 15px !important;border-spacing: 0 !important; border-collapse: collapse !important; width: 100% !important;">
                                <tr>
                                    <td>
                                        <div style="margin-top: 30px !important; line-height: 1rem !important; color: #282364 !important;text-align: center !important">
                                            <p style="margin: 0 !important; margin-bottom: 10px !important;">Hi <strong>Huydzo</strong>
                                            </p>
                                            <p style="margin: 0 !important; margin-bottom: 10px !important;">I am the
                                                founder of Gossby. I saw that you have added items to your Shopping Cart
                                                but you did not finalize the purchase. Did you find it hard to do the
                                                purchase? Or do you want any help from me? Just let me know, I am
                                                waiting for you.</p>
                                            <p style="margin: 0 !important; margin-bottom: 10px !important;color: #1688FA !important">
                                                Would you like to complete your purchase?</p>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <table style="border-spacing: 0 !important; border-collapse: collapse !important; width: 100% !important;margin-top: 30px !important;">
                                <tr>
                                    <td>
                                        <table style="border-spacing: 0 !important; border-collapse: collapse !important; width: 100% !important;border: 1px solid #F2F2F2 !important; margin-bottom: 30px !important;">
                                            <tr>
                                                <td style="padding: 20px !important">
                                                    <table style="border-spacing: 0 !important; border-collapse: collapse !important; width: 100% !important;">
                                                        <tr>
                                                            <td style="width: 30% !important">
                                                                <img src="https://gossby.com/var/opt_images/a92b3be5ee946a896b02cbc66e75c271.500x500.0.1587026996.jpg"
                                                                     style="display: block !important; width: 100% !important">
                                                            </td>
                                                            <td style="padding-left: 20px !important" valign="top">
                                                                <div style="margin-bottom: 10px !important; font-family: arial, -apple-system !important; font-size: 0.875rem !important; line-height: 1.075rem !important; color: #282364 !important; font-weight: bold !important;">
                                                                    Unisex Short Sleeve Classic Tee
                                                                </div>
                                                                <div style="margin-top: 3px !important; font-family: arial, -apple-system !important; font-size: 0.875rem !important; line-height: 1.075rem !important; color: #72849C !important;">
                                                                    Size: M • Color: While
                                                                </div>
                                                                <div style="margin-top: 3px !important; font-family: arial, -apple-system !important; font-size: 0.875rem !important; line-height: 1.075rem !important; color: #72849C !important;">
                                                                    SKU: 221132
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="background: #F6F6F6 !important; padding: 20px !important; color: #282364 !important;"
                                                    align="right">
                                                    1pcs &nbsp; x &nbsp; <span
                                                        style="color: #282364 !important; font-weight: bold !important">55 USD</span>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                            <table style="border-spacing: 0 !important; border-collapse: collapse !important; width: 100% !important;border-top-width: 1px !important; border-top-color: #E0E0E0 !important; border-top-style: dashed !important;">
                                <tr>
                                    <td style="font-family: arial, -apple-system !important; font-size: 0.875rem !important; padding: 20px 0 5px 0 !important; color: #282364 !important;">
                                        Subtotal:
                                    </td>
                                    <td style="font-family: arial, -apple-system !important; font-size: 0.875rem !important; padding: 20px 0 5px 0 !important; color: #282364 !important;"
                                        align="right">
                                        $90.00 USD
                                    </td>
                                </tr>
                                <tr>
                                    <td style="font-family: arial, -apple-system !important; font-size: 0.875rem !important; padding: 5px 0 !important; color: #282364 !important;">
                                        Shipping:
                                    </td>
                                    <td style="font-family: arial, -apple-system !important; font-size: 0.875rem !important; padding: 5px 0 !important; color: #282364 !important;"
                                        align="right">
                                        $6.00 USD
                                    </td>
                                </tr>
                            </table>
                            <table style="border-spacing: 0 !important; border-collapse: collapse !important; width: 100% !important;border-top-width: 1px !important; border-top-color: #E0E0E0 !important; border-top-style: dashed !important; margin: 15px 0 !important">
                                <tr>
                                    <td style="font-family: arial, -apple-system !important; font-size: 1.125rem !important; color: #282364 !important; font-weight: bold !important; padding: 20px 0 5px 0 !important;">
                                        Total:
                                    </td>
                                    <td style="font-family: arial, -apple-system !important; font-size: 1.125rem !important; color: #282364 !important; font-weight: bold !important; padding: 20px 0 5px 0 !important;"
                                        align="right">
                                        $90.00 USD
                                    </td>
                                </tr>
                            </table>
                            <table class="body"
                                   style="border-spacing: 0 !important; border-collapse: collapse !important; width: 100% !important;max-width: 200px !important; margin-top: 30px !important; margin-bottom: 30px !important">
                                <tr>
                                    <td align="center" valign="center">
                                        <table class="button main-action-cell"
                                               style="border-spacing: 0 !important; border-collapse: collapse !important; width: 100% !important;">
                                            <tr>
                                                <td style="cursor: pointer !important; border-radius: 4px !important; background: #25C38C !important;"
                                                    align="center">
                                                    <a href="#"
                                                       style="cursor: pointer !important; font-size: 0.875rem !important; line-height: 0.875rem !important; display: block !important; color: #fff !important; padding: 12px 30px !important;">
                                                        Complete Your Order
                                                    </a>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                            <div style="padding-top: 15px !important; border-top: 1px dashed #E0E0E0 !important; text-align: left !important; margin-top: 30px !important;">
                                <div style="font-family: arial, -apple-system !important; font-size: 0.875rem !important; line-height: 1rem !important;font-size: 1.125rem !important; line-height: 1.5rem !important; color: #282364 !important; font-weight: bold !important;">
                                    You might also like...
                                </div>
                                <div style="font-family: arial, -apple-system !important; font-size: 0.875rem !important; line-height: 1rem !important;line-height: 1.5rem !important; color: #282364 !important;">
                                    Check out these awesome products just waiting for you in our store.
                                </div>
                            </div>
                            <table style="border-spacing: 0 !important; border-collapse: collapse !important; width: 100% !important;margin-top: 30px !important;">
                                <tbody>
                                <tr>
                                    <td style="width: 48% !important; text-align: center; padding-bottom: 30px !important;"
                                        align="center" valign="top">
                                        <div style="text-align: center;">
                                            <div style="background-image: url('https://gossby.com/var/opt_images/a92b3be5ee946a896b02cbc66e75c271.500x500.0.1587026996.jpg') !important; background-repeat: no-repeat !important; background-position: center center !important; background-size: contain !important;">
                                                <a style="outline: 0 !important; border: none !important; text-decoration: none !important; display: block !important; height: 250px;"
                                                   href="#" target="_blank" rel="noopener noreferrer">&nbsp;</a>
                                            </div>
                                            <div style="margin: 10px 0 !important;">
                                                <a style="text-decoration: none !important; color: #282364 !important; font-family: arial, -apple-system !important; font-size: 0.875rem !important; line-height: 1rem !important;"
                                                   href="#" target="_blank" rel="noopener noreferrer">
                                                    Personalized Mug - Best Friend , My best friend may not be my sister
                                                    by blood but she’s my...
                                                </a>
                                            </div>
                                            <table style="border-spacing: 0 !important; border-collapse: collapse !important; width: 100% !important;max-width: 130px !important; margin: auto !important; margin-top: 10px !important;">
                                                <tbody>
                                                <tr>
                                                    <td align="center" valign="center">
                                                        <table class="button main-action-cell"
                                                               style="border-spacing: 0 !important; border-collapse: collapse !important; width: 100% !important;">
                                                            <tbody>
                                                            <tr>
                                                                <td style="cursor: pointer !important; border-radius: 4px !important; background: #1688FA !important;"
                                                                    align="center"><a href="#"
                                                                                      style="cursor: pointer !important; font-size: 0.875rem !important; line-height: 0.875rem !important; display: block !important; color: #fff !important; padding: 12px 30px !important;white-space: nowrap">Shop
                                                                    Now</a></td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </td>
                                    <td style="width: 48% !important; text-align: center; padding-bottom: 30px !important;"
                                        align="center" valign="top">
                                        <div style="text-align: center;">
                                            <div style="background-image: url('https://gossby.com/var/opt_images/a92b3be5ee946a896b02cbc66e75c271.500x500.0.1587026996.jpg') !important; background-repeat: no-repeat !important; background-position: center center !important; background-size: contain !important;">
                                                <a style="outline: 0 !important; border: none !important; text-decoration: none !important; display: block !important; height: 250px;"
                                                   href="#" target="_blank" rel="noopener noreferrer">&nbsp;</a>
                                            </div>
                                            <div style="margin: 10px 0 !important;">
                                                <a style="text-decoration: none !important; color: #282364 !important; font-family: arial, -apple-system !important; font-size: 0.875rem !important; line-height: 1rem !important;"
                                                   href="#" target="_blank" rel="noopener noreferrer">
                                                    Personalized Mug - Best Friend , My best friend may not be my sister
                                                    by blood but she’s my...
                                                </a>
                                            </div>
                                            <table style="border-spacing: 0 !important; border-collapse: collapse !important; width: 100% !important;max-width: 130px !important; margin: auto !important; margin-top: 10px !important;">
                                                <tbody>
                                                <tr>
                                                    <td align="center" valign="center">
                                                        <table class="button main-action-cell"
                                                               style="border-spacing: 0 !important; border-collapse: collapse !important; width: 100% !important;">
                                                            <tbody>
                                                            <tr>
                                                                <td style="cursor: pointer !important; border-radius: 4px !important; background: #1688FA !important;"
                                                                    align="center"><a href="#"
                                                                                      style="cursor: pointer !important; font-size: 0.875rem !important; line-height: 0.875rem !important; display: block !important; color: #fff !important; padding: 12px 30px !important;white-space: nowrap">Shop
                                                                    Now</a></td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <table style="border-spacing: 0 !important; border-collapse: collapse !important; width: 100% !important;border-top-width: 1px !important; border-top-color: #E0E0E0 !important; border-top-style: solid !important; margin-top: 30px !important">
                                <tbody>
                                <tr>
                                    <td style="padding: 20px 0 !important">
                                        <div style="text-align: center !important; font-size: 0.75rem !important; line-height: 1.075rem !important; color: #AEB2BF !important">
                                            Need help? Visit <span
                                                style="color: #2f80ed !important; font-family: arial, -apple-system !important; font-size: 0.75rem !important; line-height: 1.075rem !important; text-decoration: underline !important">Support@9prints.com</span>
                                        </div>
                                        <div style="text-align: center !important; font-size: 0.75rem !important; line-height: 1.075rem !important; color: #AEB2BF !important; margin-top: 5px !important;">
                                            You are receving this newsletter because you subscribed to our mailing list
                                            via: 9prints.com
                                        </div>
                                        <div style="text-align: center !important; font-size: 0.75rem !important; line-height: 1.075rem !important; color: #AEB2BF !important; margin-top: 5px !important;">
                                            <a href="#"
                                               style="text-align: center !important; font-size: 0.75rem !important; line-height: 1.075rem !important; color: #AEB2BF !important">Unsubscribe</a>
                                            | <a href="#"
                                                 style="text-align: center !important; font-size: 0.75rem !important; line-height: 1.075rem !important; color: #AEB2BF !important">Visit
                                            FAQ</a>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>