<html>
<head>
    <title>
        Review
    </title>
    <meta content="width=device-width" name="viewport"/>
    <style>
        body {
            margin: 0;
        }

        a, a:hover {
            text-decoration: none;
        }

        @media (max-width: 600px) {
            .container {
                width: 94% !important;
            }

            .main-action-cell {
                float: none !important;
                margin-right: 0 !important;
            }

            .secondary-action-cell {
                text-align: center;
                width: 100%;
            }

            .header {
                margin-top: 20px !important;
                margin-bottom: 2px !important;
            }

            .shop-name__cell {
                display: block;
            }

            .order-number__cell {
                display: block;
                text-align: left !important;
                margin-top: 20px;
            }

            .button {
                width: 100%;
            }

            .or {
                margin-right: 0 !important;
            }

            .apple-wallet-button {
                text-align: center;
            }

            .customer-info__item {
                display: block;
                width: 100% !important;
            }

            .spacer {
                display: none;
            }

            .subtotal-spacer {
                display: none;
            }
        }
    </style>
</head>
<body>
<table style="border-spacing: 0 !important; border-collapse: collapse !important; width: 100% !important;height: 100% !important;">
    <tr>
        <td align="center"
            style="font-family: arial, -apple-system !important; font-size: 0.875rem !important; background: #e0e0e0 !important;"
            valign="center">
            <table class="body"
                   style="width: 100% !important; width: 600px !important; border-spacing: 0; border-collapse: collapse;">
                <tr>
                    <td align="center" style="background: #f7f8fc !important; height: 80px !important" valign="center">
                        <a href="gossby.com" target="_blank">
                            <img alt="" data-index="0" src="https://gossby.com/storage/setting/10.JMLDV5d98c1cba510b.png" style="display:block;border:0;outline:none;height:auto;max-height:60px"/>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td align="center" style="background: #fff !important;" valign="center">
                        <div style="padding: 30px !important;">
                            <table style="margin-bottom: 15px !important;border-spacing: 0 !important; border-collapse: collapse !important; width: 100% !important;">
                                <tr>
                                    <div style="margin-top: 30px !important; line-height: 1rem !important; color: #282364 !important;text-align: center !important">
                                        <p style="margin: 0 !important; margin-bottom: 10px !important;">
                                            Hi
                                            <strong>Huydzo</strong>
                                        </p><br/>
                                        <p style="margin: 0 !important; margin-bottom: 10px !important;line-height: 1.2rem">
                                        </p>
                                        <div style="font-family: arial, -apple-system !important; font-size: 1.565rem !important; color: #282364 !important; line-height: 1 !important; margin: 0 !important; padding: 0 !important; text-align: center !important;">
                                            Let's cheer your her up this Mother's Day,
                                            <br/> we're offering
                                            <span style="color: #1688FA !important; font-weight: bold !important;">60 OFF</span>
                                            for your purchase
                                            <br/>
                                            <a href="#" rel="noopener noreferrer"
                                               style="text-decoration: none !important; color: #282364 !important; font-family: arial, -apple-system !important; font-size: 0.875rem !important; line-height: 1rem !important;"
                                               target="_blank">
                                                <br/> Note: To make sure the products can get to you on time, we mean
                                                May 10, customers better place order before April 23.
                                            </a>
                                            <p style="margin: 0 !important; margin-bottom: 10px !important;line-height: 1.2rem">
                                            </p>
                                        </div>
                                    </div>
                                </tr>
                            </table>
                            <div style="padding-top: 15px !important; border-top: 1px dashed #E0E0E0 !important; text-align: left !important; margin-top: 30px !important;">
                                <div style="font-family: arial, -apple-system !important; font-size: 0.875rem !important; line-height: 1rem !important;font-size: 1.125rem !important; line-height: 1.5rem !important; color: #282364 !important; font-weight: bold !important;">
                                    Some products from our Mother's Day collection
                                </div>
                                <div style="font-family: arial, -apple-system !important; font-size: 0.875rem !important; line-height: 1rem !important;line-height: 1.5rem !important; color: #282364 !important;">
                                </div>
                            </div>
                            <table style="border-spacing: 0 !important; border-collapse: collapse !important; width: 100% !important;margin-top: 30px !important;">
                                <tr>
                                    <td align="center"
                                        style="width: 100% !important; text-align: center;padding: 0 13% !important; padding-bottom: 30px !important;"
                                        valign="top">
                                        <div style="text-align: center;">
                                            <div style="background-image: url(https://gossby.com/var/opt_images/0f08516e17c68feb1b315cecea0bde26.1000x1000.0.1587489132.jpg) !important; background-repeat: no-repeat !important; background-position: center center !important; background-size: contain !important">
                                                <a href="#" rel="noopener noreferrer"
                                                   style="outline: 0 !important; border: none !important; text-decoration: none !important; display: block !important; height: 400px;"
                                                   target="_blank">&nbsp;</a>
                                            </div>
                                            <div style="margin: 10px 0 !important;">
                                                <a href="#" rel="noopener noreferrer"
                                                   style="text-decoration: none !important; color: #282364 !important; font-family: arial, -apple-system !important; font-size: 0.875rem !important; line-height: 1rem !important;"
                                                   target="_blank">
                                                    Personalized Mug - Mother's Day - I Love You To The Beach And Back
                                                </a>
                                            </div>
                                            <table style="border-spacing: 0 !important; border-collapse: collapse !important; width: 100% !important;max-width: 130px !important; margin: auto !important; margin-top: 10px !important;">
                                                <tr>
                                                    <td align="center" valign="center">
                                                        <table class="button main-action-cell"
                                                               style="border-spacing: 0 !important; border-collapse: collapse !important; width: 100% !important;">
                                                            <tr>
                                                                <td align="center"
                                                                    style="cursor: pointer !important; border-radius: 4px !important; background: #1688FA !important;">
                                                                    <a href="https://gossby.com/5DF30F19CD793NN/P"
                                                                       style="cursor: pointer !important; font-size: 0.875rem !important; line-height: 0.875rem !important; display: block !important; color: #fff !important; padding: 12px 30px !important;white-space: nowrap">Shop
                                                                        Now</a>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center"
                                        style="width: 100% !important; text-align: center;padding: 0 13% !important; padding-bottom: 30px !important;"
                                        valign="top">
                                        <div style="text-align: center;">
                                            <div style="background-image: url(https://gossby.com/var/opt_images/2a32fc9e9647459e8fdd18d87573436e.1000x1000.0.1587493241.jpg) !important; background-repeat: no-repeat !important; background-position: center center !important; background-size: contain !important">
                                                <a href="#" rel="noopener noreferrer"
                                                   style="outline: 0 !important; border: none !important; text-decoration: none !important; display: block !important; height: 400px;"
                                                   target="_blank">&nbsp;</a>
                                            </div>
                                            <div style="margin: 10px 0 !important;">
                                                <a href="#" rel="noopener noreferrer"
                                                   style="text-decoration: none !important; color: #282364 !important; font-family: arial, -apple-system !important; font-size: 0.875rem !important; line-height: 1rem !important;"
                                                   target="_blank">
                                                    Personalized Mug - Baseball Mom
                                                </a>
                                            </div>
                                            <table style="border-spacing: 0 !important; border-collapse: collapse !important; width: 100% !important;max-width: 130px !important; margin: auto !important; margin-top: 10px !important;">
                                                <tr>
                                                    <td align="center" valign="center">
                                                        <table class="button main-action-cell"
                                                               style="border-spacing: 0 !important; border-collapse: collapse !important; width: 100% !important;">
                                                            <tr>
                                                                <td align="center"
                                                                    style="cursor: pointer !important; border-radius: 4px !important; background: #1688FA !important;">
                                                                    <a href="https://gossby.com/5E9D5CA2C8D93OI/P?"
                                                                       style="cursor: pointer !important; font-size: 0.875rem !important; line-height: 0.875rem !important; display: block !important; color: #fff !important; padding: 12px 30px !important;white-space: nowrap">Shop
                                                                        Now</a>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center"
                                        style="width: 100% !important; text-align: center;padding: 0 13% !important; padding-bottom: 30px !important;"
                                        valign="top">
                                        <div style="text-align: center;">
                                            <div style="background-image: url(https://gossby.com/var/opt_images/42576a987133bf374e01c1278c047c07.1000x1000.0.1587107113.jpg) !important; background-repeat: no-repeat !important; background-position: center center !important; background-size: contain !important">
                                                <a href="#" rel="noopener noreferrer"
                                                   style="outline: 0 !important; border: none !important; text-decoration: none !important; display: block !important; height: 400px;"
                                                   target="_blank">&nbsp;</a>
                                            </div>
                                            <div style="margin: 10px 0 !important;">
                                                <a href="#" rel="noopener noreferrer"
                                                   style="text-decoration: none !important; color: #282364 !important; font-family: arial, -apple-system !important; font-size: 0.875rem !important; line-height: 1rem !important;"
                                                   target="_blank">
                                                    Personalized Mug - Girl and Cats - You had me at Meow
                                                </a>
                                            </div>
                                            <table style="border-spacing: 0 !important; border-collapse: collapse !important; width: 100% !important;max-width: 130px !important; margin: auto !important; margin-top: 10px !important;">
                                                <tr>
                                                    <td align="center" valign="center">
                                                        <table class="button main-action-cell"
                                                               style="border-spacing: 0 !important; border-collapse: collapse !important; width: 100% !important;">
                                                            <tr>
                                                                <td align="center"
                                                                    style="cursor: pointer !important; border-radius: 4px !important; background: #1688FA !important;">
                                                                    <a href="https://gossby.com/5E46183BA88E9TO/P"
                                                                       style="cursor: pointer !important; font-size: 0.875rem !important; line-height: 0.875rem !important; display: block !important; color: #fff !important; padding: 12px 30px !important;white-space: nowrap">Shop
                                                                        Now</a>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center"
                                        style="width: 100% !important; text-align: center;padding: 0 13% !important; padding-bottom: 30px !important;"
                                        valign="top">
                                        <div style="text-align: center;">
                                            <div style="background-image: url(https://gossby.com/var/opt_images/9562569a11b4d8a6220e5b052ac49a23.1000x1000.0.1587021878.jpg) !important; background-repeat: no-repeat !important; background-position: center center !important; background-size: contain !important">
                                                <a href="#" rel="noopener noreferrer"
                                                   style="outline: 0 !important; border: none !important; text-decoration: none !important; display: block !important; height: 400px;"
                                                   target="_blank">&nbsp;</a>
                                            </div>
                                            <div style="margin: 10px 0 !important;">
                                                <a href="#" rel="noopener noreferrer"
                                                   style="text-decoration: none !important; color: #282364 !important; font-family: arial, -apple-system !important; font-size: 0.875rem !important; line-height: 1rem !important;"
                                                   target="_blank">
                                                    Personalized Mug - Girl and Dogs. Fur Mama.
                                                </a>
                                            </div>
                                            <table style="border-spacing: 0 !important; border-collapse: collapse !important; width: 100% !important;max-width: 130px !important; margin: auto !important; margin-top: 10px !important;">
                                                <tr>
                                                    <td align="center" valign="center">
                                                        <table class="button main-action-cell"
                                                               style="border-spacing: 0 !important; border-collapse: collapse !important; width: 100% !important;">
                                                            <tr>
                                                                <td align="center"
                                                                    style="cursor: pointer !important; border-radius: 4px !important; background: #1688FA !important;">
                                                                    <a href="https://gossby.com/5E1D39B620290TZ/P"
                                                                       style="cursor: pointer !important; font-size: 0.875rem !important; line-height: 0.875rem !important; display: block !important; color: #fff !important; padding: 12px 30px !important;white-space: nowrap">Shop
                                                                        Now</a>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center"
                                        style="width: 100% !important; text-align: center;padding: 0 13% !important; padding-bottom: 30px !important;"
                                        valign="top">
                                        <div style="text-align: center;">
                                            <div style="background-image: url(https://gossby.com/var/opt_images/d814e310b7c78cc0b2ed99733d7fd3ab.1000x1000.0.1587219129.jpg) !important; background-repeat: no-repeat !important; background-position: center center !important; background-size: contain !important">
                                                <a href="#" rel="noopener noreferrer"
                                                   style="outline: 0 !important; border: none !important; text-decoration: none !important; display: block !important; height: 400px;"
                                                   target="_blank">&nbsp;</a>
                                            </div>
                                            <div style="margin: 10px 0 !important;">
                                                <a href="#" rel="noopener noreferrer"
                                                   style="text-decoration: none !important; color: #282364 !important; font-family: arial, -apple-system !important; font-size: 0.875rem !important; line-height: 1rem !important;"
                                                   target="_blank">
                                                    Personalized Mug - First Mother's Day - Dear Mommy, I can't wait to
                                                    meet you.
                                                </a>
                                            </div>
                                            <table style="border-spacing: 0 !important; border-collapse: collapse !important; width: 100% !important;max-width: 130px !important; margin: auto !important; margin-top: 10px !important;">
                                                <tr>
                                                    <td align="center" valign="center">
                                                        <table class="button main-action-cell"
                                                               style="border-spacing: 0 !important; border-collapse: collapse !important; width: 100% !important;">
                                                            <tr>
                                                                <td align="center"
                                                                    style="cursor: pointer !important; border-radius: 4px !important; background: #1688FA !important;">
                                                                    <a href="https://gossby.com/5E9B083DBD961EA/P"
                                                                       style="cursor: pointer !important; font-size: 0.875rem !important; line-height: 0.875rem !important; display: block !important; color: #fff !important; padding: 12px 30px !important;white-space: nowrap">Shop
                                                                        Now</a>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center"
                                        style="width: 100% !important; text-align: center;padding: 0 13% !important; padding-bottom: 30px !important;"
                                        valign="top">
                                        <div style="text-align: center;">
                                            <div style="background-image: url(https://gossby.com/var/opt_images/aa99e5097c74fe7878dc6d0ca294df99.1000x1000.0.1587193185.jpg) !important; background-repeat: no-repeat !important; background-position: center center !important; background-size: contain !important">
                                                <a href="#" rel="noopener noreferrer"
                                                   style="outline: 0 !important; border: none !important; text-decoration: none !important; display: block !important; height: 400px;"
                                                   target="_blank">&nbsp;</a>
                                            </div>
                                            <div style="margin: 10px 0 !important;">
                                                <a href="#" rel="noopener noreferrer"
                                                   style="text-decoration: none !important; color: #282364 !important; font-family: arial, -apple-system !important; font-size: 0.875rem !important; line-height: 1rem !important;"
                                                   target="_blank">
                                                    Personalized Mug - Mother &amp; Daughter - To my Mom. Everything i
                                                    am, You helped me to be.
                                                </a>
                                            </div>
                                            <table style="border-spacing: 0 !important; border-collapse: collapse !important; width: 100% !important;max-width: 130px !important; margin: auto !important; margin-top: 10px !important;">
                                                <tr>
                                                    <td align="center" valign="center">
                                                        <table class="button main-action-cell"
                                                               style="border-spacing: 0 !important; border-collapse: collapse !important; width: 100% !important;">
                                                            <tr>
                                                                <td align="center"
                                                                    style="cursor: pointer !important; border-radius: 4px !important; background: #1688FA !important;">
                                                                    <a href="https://gossby.com/5E9A863A9EFD78I/P"
                                                                       style="cursor: pointer !important; font-size: 0.875rem !important; line-height: 0.875rem !important; display: block !important; color: #fff !important; padding: 12px 30px !important;white-space: nowrap">Shop
                                                                        Now</a>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <table style="border-spacing: 0 !important; border-collapse: collapse !important; width: 100% !important;max-width: 250px !important; margin-top: 30px !important; margin-bottom: 30px !important">
                                <tr>
                                    <td align="center" valign="center">
                                        <table class="button main-action-cell"
                                               style="border-spacing: 0 !important; border-collapse: collapse !important; width: 100% !important;">
                                            <tr>
                                                <td align="center"
                                                    style="cursor: pointer !important; border-radius: 4px !important; background: #1688FA !important;">
                                                    <a href="#"
                                                       style="cursor: pointer !important; font-size: 0.875rem !important; line-height: 0.875rem !important; display: block !important; color: #fff !important; padding: 12px 30px !important;">Go
                                                        to Mother's day collection</a>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                            <table style="border-spacing: 0 !important; border-collapse: collapse !important; width: 100% !important;border-top-width: 1px !important; border-top-color: #E0E0E0 !important; border-top-style: solid !important; margin-top: 30px !important">
                                <tbody>
                                <tr>
                                    <td style="padding: 20px 0 !important">
                                        <div style="text-align: center !important; font-size: 0.75rem !important; line-height: 1.075rem !important; color: #AEB2BF !important">
                                            Need help? Email us at
                                            <span style="color: #2f80ed !important; font-family: arial, -apple-system !important; font-size: 0.75rem !important; line-height: 1.075rem !important; text-decoration: underline !important">Support@gossby.com</span>
                                        </div>
                                        <div style="text-align: center !important; font-size: 0.75rem !important; line-height: 1.075rem !important; color: #AEB2BF !important; margin-top: 5px !important;">
                                            You are receving this newsletter because you subscribed to our mailing list
                                            via: gossby.us
                                        </div>
                                        <div style="text-align: center !important; font-size: 0.75rem !important; line-height: 1.075rem !important; color: #AEB2BF !important; margin-top: 5px !important;">
                                            <a href="#"
                                               style="text-align: center !important; font-size: 0.75rem !important; line-height: 1.075rem !important; color: #AEB2BF !important">Unsubscribe</a>
                                            |
                                            <a href="#"
                                               style="text-align: center !important; font-size: 0.75rem !important; line-height: 1.075rem !important; color: #AEB2BF !important">Visit
                                                FAQ</a>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>