.page-image-preview {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 2px;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.35);
}
.page-image-preview:before {
  content: '';
  display: block;
  padding-bottom: 100%;
}
.additional_data{
  .box-item{
    border: 1px solid #bfbfbf;
    padding: 15px 15px 50px;
    position: relative;
    .btn-remove-item{
      position: absolute;
      right: 10px;
      bottom: 10px;
    }
  }
  .collection-image-uploader-custom{
    max-width: 150px;
  }
}
.page-post-frm {
  .page-images {
    box-sizing: border-box;
    position: relative;
    left: -15px;
    top: -15px;
    width: calc(100% + 30px);
    overflow: hidden;
    font-size: 0;
    
    &:empty:before {
      content: '';
      background-image: url(../../image/product/images.svg);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 150px 150px;
      display: block;
      height: 190px;
    }
    
    * {
      box-sizing: border-box;
    }
    
    .page-image {
      position: relative;
      display: inline-block;
      width: calc((100% - (6 * 15px)) / 6);
      margin: 15px 0 0 15px;
      background-size: cover;
      box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.15);
      cursor: grab;
      
      &:before {
        content: "";
        display: block;
        padding-bottom: 100%;
      }
      
      &.reordering:after {
        content: '' !important;
        position: absolute !important;
        top: 0 !important;
        left: 0 !important;
        width: 100% !important;
        height: 100% !important;
        z-index: 9 !important;
        background: #ddd !important;
      }
      
      &:hover:after, &[data-uploader-step]:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        background: rgba(0, 0, 0, 0.5);
      }
      
      .uploader-progress-bar {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        margin: 0;
        height: 3px;
        border: 0;
        background: rgba(0, 0, 0, 0.75);
        z-index: 4;
      }
      
      &[data-uploader-step] .step:before {
        content: 'Processing...';
        position: absolute;
        top: calc((100% - 12px)/2);
        left: 0;
        width: 100%;
        font-size: 12px;
        line-height: 12px;
        color: rgba(255, 255, 255, 0.85);
        z-index: 5;
        text-align: center;
      }
      
      &[data-uploader-step="queue"] .step:before {
        content: 'Waiting...';
      }
      
      &[data-uploader-step="upload"] .step:before {
        content: 'Uploading...';
      }
      
      .controls {
        position: absolute;
        z-index: 6;
        bottom: 5px;
        left: 0;
        width: 100%;
        text-align: center;
        display: none;
        
        svg {
          color: #fff;
          height: 26px;
          padding: 5px;
          cursor: pointer;
        }
      }
      
      &:hover .controls {
        display: block;
      }
    }
  }
}