.tags {
  list-style: none;
  margin-top: 10px;
  overflow: hidden;
}

.tags li {
  float: left;
}

.tag {
  background: #dfe3e8;
  border-radius: 3px 0 0 3px;
  height: 25px;
  line-height: 25px;
  padding: 0 30px 0 10px;
  position: relative;
  margin: 0 10px 10px 0;
  -webkit-transition: color 0.2s;
}

.tag::after {
  background: #fff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #dfe3e8;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.btn-remove-tag {
  margin: -1px -15px 0 15px;
  font-weight: 600;
  float: right;
}

.btn-remove-tag:hover {
  cursor: pointer;
}

.btn-remove-group {
  color: #EB5757;
  float: right;
  font-weight: 600;
}

.btn-remove-group:hover {
  cursor: pointer;
}
