.backend-ui-frm #breadcrumb {
    margin-top: 10px;
    background: transparent;
    border-bottom: 0;
    font-size: 12px;
    padding: 0;
}
.backend-ui-frm #breadcrumb > * {
    display: block;
    float: left;
    margin-right: 8px;
}
.backend-ui-frm #breadcrumb a {
    text-decoration: none;
    color: #798393;
}
.backend-ui-frm #breadcrumb > *:after {
    content: '';
    display: inline-block;
    background: #b6bbc3;
    width: 4px;
    height: 4px;
    border-radius: 2px;
    vertical-align: 3px;
    margin-left: 8px;
}
.backend-ui-frm #breadcrumb > *:last-child:after {
    content: none;
}
.backend-ui-frm #breadcrumb > :last-child a,
.backend-ui-frm #breadcrumb > :hover a {
    color: #17a4f9;
}

.backend-ui-frm > .header {
    min-height: 29px;
    padding: 20px 30px 10px;
}
.backend-ui-frm > .header.nbrd {
    border: 0;
}
.backend-ui-frm > .header .title {
    font-family: arial;
    font-size: 25px;
    color: #4e515e;
    float: left;
    margin-top: 5px;
}
.backend-ui-frm > .header .buttons {
    float: right;
    margin-top: 10px;
}
.backend-ui-frm > .body {
    background: #ecf2f6;
    border: 1px solid #d8dfe5;
    border-right: 0;
    border-left: 0;
    box-shadow: inset 0 1px #e5ebf0;
    padding: 20px 25px;
}
.backend-ui-frm > .body > div {
    display: none;
}
.backend-ui-frm > .body > div.active {
    display: block;
}

.backend-ui-frm > .bottom-bar {
    min-height: 29px;
    padding: 10px 30px;
    text-align: right;
}

.backend-ui-frm > .tabs {
    list-style-type: none;
}
.backend-ui-frm > .tabs.hidden {
    display: none;
}
.backend-ui-frm > .tabs > li {
    font-weight: bold;
    float: left;
    padding: 15px 0;
    text-transform: uppercase;    
    cursor: pointer;
    color: #8a95a5;
    margin-left: 30px;
}
.backend-ui-frm > .tabs > li:hover {
    color: #c0392b;
}
.backend-ui-frm > .tabs > li.active,
.backend-ui-frm > .tabs > li.active:hover {
    box-shadow: inset 0 -3px #16a085;
    cursor: default;
    color: #333;
}

.backend-ui-frm .field-group {
    background: #fff;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #d8e3eb;
    margin-top: 10px;
}
.backend-ui-frm .field-group:first-child {
    margin-top: 0;
}
.backend-ui-frm .field-group > .tile {
    background: #6f7e95;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 8px 10px;
    border-radius: 3px;
    margin-bottom: 8px;
}
.backend-ui-frm .field-group .field-tbl {
    border: 0;
    margin: 0;
    position: relative;
    width: 100%;
}
.backend-ui-frm .field-group .field-tbl:before {
    content: "";
    background: #fff;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 3px;
}
.backend-ui-frm .field-group .field-cell {
    padding: 10px;
    border-bottom: 2px solid #ecf0f1;
    position: relative;
}
.backend-ui-frm .field-group .field-row.last .field-cell,
.backend-ui-frm .field-group .field-row:last-child .field-cell {
    border-bottom: 0;
}
.backend-ui-frm .field-group .field-row:first-child .field-cell:first-child {
    border-top-left-radius: 3px;
}
.backend-ui-frm .field-group .field-row:first-child .field-cell:last-child {
    border-top-right-radius: 3px;
}
.backend-ui-frm .field-group .field-row:last-child .field-cell:first-child {
    border-bottom-left-radius: 3px;
}
.backend-ui-frm .field-group .field-row:last-child .field-cell:last-child {
    border-bottom-right-radius: 3px;
}

.backend-ui-frm .field-group .field-cell.brdright {
    border-right: 1px solid #ecf0f1;    
}
.backend-ui-frm .field-group .field-cell.nobrdbottom  {
    border-bottom: 0;    
}
.backend-ui-frm .field-label {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 11px;
    color: #7989a0;
}